<!-- <table>
    <tr>
        <th *ngFor="let el of tbHeaders">{{el}}</th>
    </tr> 
    <tr *ngFor="let user of users">
   
        <td>
          {{user.login}}
        </td>
        <td>
            {{user.id}}
        </td>
        <td>
            {{user.node_id}}
        </td>
        <td>
            {{user.avatar_id}}
        </td>
        <td>
            {{gravatar_id}}
        </td>
        <td>
            {{user.url}}
        </td>
        <td>
            {{user.html_url}}
        </td>
        <td>
            {{user.following_url}}
        </td>
        <td>
            {{user.followers_url}}
        </td>
        <td>
            {{user.gists_url}}
        </td>
        <td>
            {{user.starred_url}}
        </td>
        <td>
            {{user.subscriptions_url}}
        </td>
        <td>
            {{user.organizations_url}}
        </td>
        <td>
            {{user.repos_url}}
        </td>
        <td>
            {{user.events_url}}
        </td>
        <td>
            {{user.received_events_url}}
        </td>
        <td>
            {{user.type}}
        </td>
        <td>
            {{user.site_admin}}
        </td>
    </tr>
</table> -->

<!-- 
<p>line1 - {{name}}</p>

<P>line2 - {{name}}</P>

<p>line3 - <input type="text" [(ngModel)]='name'></p> -->